<!-- Hero Slider -->
<div class="hero-slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <div class="slide-bg" style="background-image: url('slider/S5.jpg');"></div>
        <div class="slide-content">
          <div class="slide-text-container">
            <span class="slide-subtitle">ETHEREAL ELEGANCE</span>
            <h2 class="slide-title">Bold Colors,<br>Effortless Elegance</h2>
            <p class="slide-description">
              A modern collection that combines street style with refined tailoring. It includes structured dresses and
              versatile separates, crafted from durable materials suitable for everyday wear while maintaining a
              polished look.
            </p>
            <a href="#" class="slide-button">Shop Now</a>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide">
        <div class="slide-bg" style="background-image: url('slider/S3.jpg');"></div>
        <div class="slide-content">
          <div class="slide-text-container">
            <span class="slide-subtitle">BOLD & TAILORED</span>
            <h2 class="slide-title">Timeless<br>Elegance Collection</h2>
            <p class="slide-description">
              A modern collection that combines street style with refined tailoring. It includes structured dresses and
              versatile separates, crafted from durable materials suitable for everyday wear while maintaining a
              polished look.
            </p>
            <a href="#" class="slide-button">Shop Now</a>
          </div>
        </div>
      </div>


      <!-- Slide 3 -->

      <div class="swiper-slide">
        <div class="slide-bg" style="background-image: url('slider/S4.jpg')"></div>
        <div class="slide-content">
          <div class="slide-text-container">
            <span class="slide-subtitle">MINI STYLE MAGIC</span>
            <h2 class="slide-title">Whimsical<br>Wonders Wardrobe</h2>
            <p class="slide-description">
              A modern collection that combines street style with refined tailoring. It includes structured dresses and
              versatile separates, crafted from durable materials suitable for everyday wear while maintaining a
              polished look.
            </p>
            <a href="#" class="slide-button">Shop Now</a>
          </div>
        </div>
      </div>

      <!-- Navigation Arrows -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
